body {
    padding-top: 50px;
}
#container {
    padding: 39px 0px;
}
.thumb-big
{
    height: 199px;
}
.movies-list
{
    text-align: center;
}
.availability
{
    padding: 9px;
    font-size: 12px;
    font-weight: 500;
    color: black;
}
.bookThumb
{
    height: 149px;
    padding-right: 21px;
}

.modal { 
    display: block;
}
 
.dialog-header-confirm { 
    background-color: #333333; 
}

.dialog-header-confirm span, .dialog-header-confirm h4 { 
    color: #ffffff; 
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #333333;
    opacity:0.8;
}