.onlyprint {
    display: none;
}

body {
    padding-top: 50px;
    padding: 50px;
}

#container {
    padding: 39px 0px;
}

.modal { 
    display: block;
}
 
.dialog-header-confirm { 
    background-color: #333333; 
}

.dialog-header-confirm span, .dialog-header-confirm h4 { 
    color: #ffffff; 
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #333333;
    opacity:0.8;
}

@media print {
    .onlyscreen {
        display: none;
    }

    .onlyprint {
        display: block;
    }

    .modal {
        position: absolute;
        top: 0;
        left: 0;
        overflow: visible !important;
    }

    pre {
        border: none;
    }
}