<div class="modal-header dialog-header-confirm">
    <button type="button" class="close" ng-click="no()">&times;</button>
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-check"></span> 
        <span ng-if="isNew">Въведете парола за създаване на нов файл</span>
        <span ng-if="!isNew">Въведете парола за достъп</span>
    </h4>
</div>
<div class="modal-body">
    <form name="passwordForm" class="css-form" novalidate ng-submit="yes()">
        <div class="form-group" ng-class="{'has-feedback has-error': invalid}">
            <label for="password" class="control-label">Парола</label>
            <input type="password" id="password" ng-model="password" ng-change="change()" class="form-control" name="password" autofocus />
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="invalid"></span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary pull-left" ng-click="yes()">
        <span class="glyphicon glyphicon-ok"></span> OK
    </button>
    <button type="button" class="btn btn-danger" ng-click="no()">
        <span class="glyphicon glyphicon-log-out"></span> Изход
    </button>
</div>