<form name="patientForm" class="css-form onlyscreen" novalidate>
    <div class="form-group has-feedback" ng-class="{'has-error': !patientForm.name.$valid}">
        <label for="name">Име *</label>
        <input type="text" id="name" ng-model="patient.name" class="form-control" placeholder="Име на пациент" name="name" required />
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error': !patientForm.egn.$valid}">
        <label for="egn">ЕГН *</label>
        <input type="text" id="egn" ng-model="patient.egn" class="form-control" placeholder="ЕГН" name="egn" required ng-pattern="/^\d{10}$/" ng-unique />
        <span ng-show="patientForm.egn.$error.unique">Пациент с посоченото ЕГН вече съществува</span>
    </div>

    <h4>
        <button type="button" ng-click="addExam(patient)" class="btn btn-success btn-sm" tooltip="Добавяне на нов преглед">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        Списък с прегледи
    </h4>

    <table st-table="patient.examinations" class="table table-striped">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Анамнеза</th>
                <th>Обективно състояние</th>
                <th>Изследвания</th>
                <th>Р-т от ултразвук</th>
                <th>Диагноза</th>
                <th>Лечение</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="exam in patient.examinations | orderBy:'date':true track by $index">
                <td>
                    <a href="" ng-click="editExam(exam, patient)">
                        {{exam.date | date: 'dd.MM.yyyy'}}
                    </a>
                    <span ng-class="{'glyphicon glyphicon-exclamation-sign': exam.isPrimary}" tooltip="Първичен преглед"></span>
                </td>
                <td>{{exam.history | truncate:15}}</td>
                <td>{{exam.condition | truncate:15}}</td>
                <td>{{exam.tests | truncate:15}}</td>
                <td>{{exam.ultrasound | truncate:15}}</td>
                <td>{{exam.diagnosis | truncate:15}}</td>
                <td>{{exam.treatment | truncate:15}}</td>
                <td>
                    <button type="button" ng-click="deleteExam(exam)" class="btn btn-danger btn-xs" tooltip="Изтриване на преглед">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <button type="button" ng-click="save(patient)" ng-disabled="!patientForm.$valid" class="btn btn-primary btn-md" tooltip="Съхраняване данни на пациент">
        <span class="glyphicon glyphicon-floppy-disk"></span> Запази
    </button>

    <a class="btn btn-warning btn-md pull-right" href="#/" tooltip="Анулиране на промените">
        <span class="glyphicon glyphicon-remove"></span> Анулиране
    </a>
</form>